#cy {
  height: 80vh;
  width: 60%;
  position: absolute;
  /* left: 0; */
  /* top: 0; */
  float: left;
  padding: 1%;
}

#cy-container {
  display: inline-block;
  height: 1vh;
  width: 1vw;
}

#bio {
  width: 30%;
  /* position: absolute; */
  float: right;
  /* padding: 1%; */
  justify-content: center;
}
