@font-face {
  font-family: 'GothamMedium';
  src: url('/fonts/GothamMedium.otf')  format('opentype');
}

#cy {
  font-family: 'GothamMedium';
  height: 100%;
  width: 60%;
  position: absolute;
}

#bio {
  width: 30%;
  /* position: absolute; */
  float: right;
  /* padding: 1%; */
  justify-content: center;
}

body, button[type=button], input[type=text] {
  font-family: 'GothamMedium';
}

h1 {
  font-size: 50px;
  color: #1ed760;
  position: relative;
  top: -5px;
  left: 25px
}

body {
  background-image: linear-gradient(to bottom, black, black 112px, #1ed760 112px, #1ed760);
  background-size: cover;
  background-repeat: no-repeat;
}

#logo img {
  position: absolute;
  top: 14px;
  right: 25px;
  width: 85px;
}
#content {
  position: relative;
}